.body {
  padding-top: 0;
}
.bg-form {
  margin: 0px;
  margin-bottom: 12px;
  border-radius: 38px;
}
.reply.bg-form {
    margin-bottom: 0;
}

.header__column a > i {
  margin-right: 15px;
  font-size: 25px;
}
/* .mainimage img {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10%:
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
} */
.reply {
    margin: 0;
  padding: 15px 7px 7px 7px;

}
.reply__column {
  display: flex;
  justify-content: flex-start
  align-items: center;
  margin-bottom: 15px;
}
.reply__column img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  top:0;
}
.reply__friend span{
  display: block;
  margin-bottom:8px;
}
.reply__friend .reply__comment {
    font-size: 12px;
    color: #9c9595;
}
.reply__friend .reply__icon {
    font-size: 8px;
    color: #9c9595;
}
.reply__icon i {
    margin-right: 8px;
}
/* footer */
.footer {
    z-index:-1;
}
.footer__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    padding: 7px;
}
.footer__input img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.footer__input .input {
    border: 0;
    opacity: 0.7;
}
.footer__input>.input__icon {
    width: 30px;
    height: 20px;
}