.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}
.header .header-logo {
  font-family: "Grand Hotel", cursive;
  font-size: 30px;
  font-weight: 600;
}
.header .header__icon i {
  font-size: 20px;
  padding-left: 25px;
}
.friends {
  overflow: auto;
  white-space: nowrap;
}
.friends .friends__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px 8px 25px;
}
/* scrollbar */
::-webkit-scrollbar {
    display: none;
}
.friends__list .friend {
  margin-right: 35px;
}
.friends__list img {
  width: 60px;
  border-radius: 50%;
}
.friend {
  position: relative;
}
.friend.badge i {
  position: absolute;
  bottom: 4px;
  left: 48px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 20px;
  background-color: white;
  color: #333333;
}

.main, .reply {
  margin: 10px 8px 8px 8px;
  padding: 15px;
  height: 50%;
  border-radius: 30px;
  background-color: white;
}
/*  HEADER  */
.main__header,
.header__column,
.main__content-info,
.footer__form.footer,
.footer .nav__sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__column img{
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.header__user .user__name{
  display: block;
}
.name {
    font-weight: bold;
}
.header__user .user__bottom-text {
  font-size: 13px;
  color: #bababa;
  font-weight: 600;
}
/* main */
.main__header {
  margin-bottom: 12px;
}

.main__content .content__image img, .main__content.content__image img{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10%:
}
.content__image img {
    border-radius: 5%;
    box-shadow: 5px -10px 60px 0px rgba(0, 0, 0, 0.25);
}
.main__content-info {
  padding: 10px 23px 0px 23px;
  text-align: center;
}
.main__content-info .content__info-column i {
  margin-right: 4px;
  font-size: 20px;
  color: #4b4b4c;
}
.main__content-info .content__info-column span {
  font-size: 14px;
  color: #4b4b4c;
  margin-right: 20px;
}

/* footer */
.footer__form.footer {
    display: absolute;
    left:20px;
    background-color: white;
    width: 90%;
    height: 70px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 5px -10px 60px 0px rgba(0, 0, 0, 0.25);
}
.footer__form.footer i {
    font-size: 20px;
    color: #d6d6d6;
}
.footer .nav__first i {
    font-size: 25px;
    color: black;
}
.footer .nav__sec {
    width: 50%;
}
.nav__sec .d-icon i
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 37px;
    border-radius: 25px;
    background-color: rgb(35, 198, 130);
    color: white;
}

.friend:hover {
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.25);
}

/* dropdown */
.header__column.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: white;
}
.dropdown .dropbtn {
  cursor: pointer;
}
.dropdown .dropdown-content{
  display: none;
  position:absolute;
  min-width: 160px;
  background-color: #f9f9f9;
  z-index: 1;
}
.dropdown .dropdown-content div {
  float: none;
  text-decoration: none;
  display: block;
}
.header__column.dropdown .dropbtn div:hover {
   background-color: #ddd;
}
.header__column.dropdown:hover .dropdown-content {
  display: block;
}