.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}
.header .header-logo {
  font-family: "Grand Hotel", cursive;
  font-size: 30px;
  font-weight: 600;
}
.header .header__icon i {
  font-size: 20px;
  padding-left: 25px;
}

.friends .friends__list {
  display: flex;
  justify-content: space-around;
  align-itmes: center;
  padding: 30px 0px 30px 25px;
}
.friends__list .friend {
  padding-right: 25px;
}
.friends__list img {
  width: 64px;
  border-radius: 50%;
}
.friend {
  position: relative;
}
.friend.badge i {
  position: absolute;
  bottom: 4px;
  left: 48px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 20px;
  background-color: white;
  color: #333333;
}

.main {
  margin: 0px 12px 12px 12px;
  padding: 20px;
  height: 50%;
  border-radius: 50px;
  background-color: white;
}
.main__header,
.header__user .userform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}
.main__header {
  margin: 15px 0px;
}
.header__user img {
  width: 50px;
  border-radius: 50%;
}
