/* footer */
.footer__form.footer {
    display: absolute;
    left:5%;
    background-color: white;
    width: 90%;
    height: 50px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 5px -10px 60px 0px rgba(0, 0, 0, 0.25);
}
.footer__form.footer i {
    font-size: 20px;
    color: #d6d6d6;
}
.footer .nav__first i {
    font-size: 25px;
    color: black;
}
.footer .nav__sec {
    width: 50%;
}
.nav__sec .d-icon i
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 37px;
    border-radius: 25px;
    background-color: rgb(35, 198, 130);
    color: white;
}

.friend:hover {
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.25);
}