@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap");
@import "mainone.css";
@import "detailone.css";

* {
  box-sizing: border-box;
}
body {
  border: 10px solid black;
  border-radius: 50px;
  padding-top: 35px;
  background-color: #edf0f6;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
